    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I am currently a Ph.D. candidate at the American Museum of Natural History and the Graduate Center of City University of New York. I am based at the Department of Ichthyology of the AMNH and co-supervised by Dr. Elizabeth Alter, Dr. Melanie Stiassny, and Dr. Mike Hickerson. I seek to understand evolutionary processes of African cichlids in the lower Congo River by using genomics tools and remote sensing data. My goal is to provide baseline information to help improving conservation of the amazing fish diversity and achieving a sustainable fishery. I was born and raised in Nagano, Japan. My favorite pasttime is to go to an Onsen trip with my family. I love DIYing, thrifting, dancing and growing plants. I am a minimalist wanna be.</p>
            </div>
        </div>
    </section>