    <!-- About Section -->
    <section id="outreach" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Outreach</h2>
                <p>My past outreach activities focused on helping and mentoring underrepresented minority students. Over the past few years, I dedicated time each week to tutor math to young underrepresented students. Most recently, I had an opportunity to work with a group of Nepalese middle-school students. I shared my experience coming from a foreign country as a minority, woman of color, and second language learner of English. Some female students indicated that my story had inspired them to broaden their possibilities. I recognize the importance of having a minority female role model in my professional field and am hoping to help students anyway to pursue their goals and dreams. </p>
            </div>
        </div>
    </section>