    <!-- About Section -->
    <section id="parenting" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Parenting</h2>
                <p>I am a mother of two beautiful children. As a woman, when and whether to have a child is a tough decision to make. I’ve always been career driven and worked very hard to get ahead, but having my own children is something that I have always wanted. Unfortunately, every woman has a biological time limit and eventually has to make the decision. It was one of the best decisions I have ever made. I believe that the lack of diversity in higher-level positions in science can be attributed to a number of reasons but likely one of the biggest is the balancing of motherhood and career goals. As hectic as an everyday schedule can be to raise two young children, I want to continue my education to achieve my goals. I hope someday someone experiencing similar struggles will be inspired by my path and will remain in science thus continuing to increase diversity and acceptance in science.</p>
            </div>
        </div>
    </section>