    <!-- About Section -->
    <section id="research" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Research</h2>
                <p >The lower Congo River (LCR) exhibits extraordinary aquatic biodiversity, endemism, and specialization despite that it comprises less than 2% of the area of the Congo Basin. Unfortunately, our understanding of how the evolutionary processes shape regional patterns of riverine biodiversity in the LCR remains incomplete and thus this has become the focus of my dissertation research. Conducting scientific research in this river has been historically challenging because of restricted accessibility due to political instability and poor communication throughout the watershed. Thus, my research is made entirely possible because of the large fish collection at the AMNH, particularly from the LCR that was collected over a decade.</p>
                <p align="left"> My current research seek to understand:</p>
                <p align="left"> 1. Role of high-energy rapids in the diversification of the endemic Lamprologine cichlids </p>
                <p align="left"> 2. Relationship between historical climate change and demographic history </p> 
                <p align="left"> 3. Environmental and geological importance in the diversification using species distribution models  </p>
                <p align="left"> 4. Morphological adaptation of Lamprologus tigripictilis using geometric morphometrics and 3D CT scanning </p>  
                <p align="left"> 5. Local adaptation to the high energy rapids using whole genome data </p>  
                <p align="left"> 6. Adaptive evolution of Blind fish Lamprologus lethops using whole genome data </p>
                <p>Carrying on the research is essential because the LCR has been threatened by anthropogenic impacts such as climatic change, hydro-electric dam construction, and overfishing. Our most current findings suggest that hydrological features are important in maintaining and shaping biodiversity, therefore conserving that aspect of the ecosystem will be crucial. Furthermore, we demonstrated that genomic data obtained from museums can help improve our basic understanding of the evolutionary processes. I learned that there are greater research possibilities using museum collections. Museums’ potential goes beyond only preserving historical specimens, they contribute to cutting-edge research using DNA to decipher the complicated history of organisms on our planet. </p>
            </div>
        </div>
    </section>

    