@font-face {
  font-family: 'TIG-kurata';
  src:  url('../css/fonts/TIG-kurata.eot?w695tg');
  src:  url('../css/fonts/TIG-kurata.eot?w695tg#iefix') format('embedded-opentype'),
    url('../css/fonts/TIG-kurata.ttf?w695tg') format('truetype'),
    url('../css/fonts/TIG-kurata.woff?w695tg') format('woff'),
    url('../css/fonts/TIG-kurata.svg?w695tg#TIG-kurata') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="npk-"], [class*=" npk-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TIG-kurata' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.npk-FISHY_W:before {
  content: "\e900";
  color: #fff;
}
.npk-FISHY_LG:before {
  content: "\e901";
  color: #999;
}
.npk-FISHY_G:before {
  content: "\e902";
  color: #666;
}
.npk-FISHY:before {
  content: "\e903";
}
